<!-- <div class="carousel-container">
  <div class="carousel">
      <div class="slider">
          <div class="slide-content">
              <h1 class="movie-title">loki</h1>
              <p class="movie-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam distinctio molestiae quis praesentium cum obcaecati eveniet voluptates exercitationem eum accusantium.</p>
          </div>
          <img src="../../assets/images/carousel/loki.png" alt="Slider">
      </div>
      <div class="slider">
        <div class="slide-content">
            <h1 class="movie-title">loki</h1>
            <p class="movie-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam distinctio molestiae quis praesentium cum obcaecati eveniet voluptates exercitationem eum accusantium.</p>
        </div>
        <img src="../../assets/images/carousel/wakandavision.png" alt="Slider">
    </div>
    <div class="slider">
      <div class="slide-content">
          <h1 class="movie-title">loki</h1>
          <p class="movie-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam distinctio molestiae quis praesentium cum obcaecati eveniet voluptates exercitationem eum accusantium.</p>
      </div>
      <img src="../../assets/images/carousel/loca.png" alt="Slider">    
  </div>
  </div>
</div> -->

<div class="col d-flex justify-content-evenly ">
<div *ngFor="let movie of movies">
    <video [src]="movie.video" playsinline controls autoplay class="vdo"></video>
    <div class="card text-center" style="width: 12rem;">
    <img [src]="movie.poster" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" id="movieName">{{movie.title}}</h5>
      <a href="#vdo" id="watchButton" class="btn btn-danger" >Play Now</a>&nbsp;
      <a href="#vdo" id="favButton" class="btn btn-danger"><span class="bi bi-heart"></span></a>
    </div>
    </div>
  </div>
</div>
<br>

