.carousel-container {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 80px;
}

.carousel {
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;
}

.slider {
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
}

.slider img {
    width: 70%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.slide-content {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, #030b17 80%, #0c111b00);
    color: var(--text-color);
    top: 0;
}


/* Movies CSS */



.title {
    color: var(--text-color);
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}

.play {
    font-family: cursive;
    color: #1f80e0;
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: 500;
}


.vdo {
    height: auto;
    width: 70%;
    border: solid 3px white;
    border-radius: 15px;
}

/* .card-title {
    color: var(--text-color);
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
} */

.col {
    row-gap: 20px;
    column-gap: 20px;
}

/* .card-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
    padding: 10px;
    transition: 0.5s;
} */


/* .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.card:hover {
    transform: scale(1.1);
}

.card:hover .card-body {
    opacity: 1;
}
