.example-spacer {
    flex: 1 1 auto;
  }

  .toolbar{
   
    padding-top: 5%;
  }
  /* .mat-toolbar{
    background-color: rgb(49, 49, 49);
  }
.tbl{
  background-color: rgb(49, 49, 49);
 
} */
  .main-body{
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1248px;
  }

  .main-body mat-form-field{
    width: 100%;
  }
  

