<h1 class="title">Your Favorites</h1>
<div class="movies-list">
    <button class="pre-btn"><img src="../../../assets/images/moviecard/pre.png" alt=""></button>
    <button class="nxt-btn"><img src="../../../assets/images/moviecard/nxt.png" alt=""></button>
    <div class="card-container">
        <!-- <div class="card" *ngFor="let movie of movies" (mouseover)="playVideo()" (mouseout)="stopVideo()"> -->
          <div class="card" *ngFor="let movie of favoriteMovieList" >
          <!-- <div class="searchresult" *ngIf="searchText === '' || movie.title.toLowerCase().includes(searchText)"> -->
          <div class="video-card">
            <img [src]="movie.posterUrl" class="card-img" alt="" >
            <!-- <video  class="card-vid-top" [src]="movie.trailerUrl" playsinline controls autoplay muted></video> -->
          </div>
            
            <div class="card-body">
                <h2 class="name">{{movie.title}}</h2>   
                <div class="row">
                  <div class="col">
                    <button [routerLink]="['/play-video', movie.id]" class="watchlist-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="17" height="17"><path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Zm4.879-2.773 4.264 2.559a.25.25 0 0 1 0 .428l-4.264 2.559A.25.25 0 0 1 6 10.559V5.442a.25.25 0 0 1 .379-.215Z"></path></svg></button> 
                  </div>
                  <div class="col">
                  <!-- <button id="heart" class="watchlist-btn" (click)="addToFavMovie()"><i class="far fa-heart"></i></button> -->
                </div>
                </div>                                
            </div>
        </div>
      </div>
</div>