<!-- <div class="container mt-5">
    <form [formGroup] = "searchForm" (ngSubmit)="submitForm()" class="example-form">
        <div class="mb-3 col-lg-10">
            <input type="text" [formControl]="control" [matAutocomplete]="auto" class="form-control example-input" formControlName="movieTitle" placeholder="Search here" [(ngModel)]="enteredSearchValue" (input)="onSearchTextChanged()"/>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let value of bannerresult"
                [value]="value.movieTitle">
                {{value.movieTitle}}
                </mat-option>
            </mat-autocomplete>
        </div>
    </form>
</div>

<div class="contain">
    <div class="row">
        <ng-container *ngFor="let value of searchResult">
            <div class="mb-3">
                <a href="">
                    <img src="" alt="">
                </a>
            </div>
        </ng-container>
    </div>

</div> -->